flows_raspberrypi.json
[{"id":"a8f000ca.45291","type":"tab","label":"Yun Board","disabled":false,"info":""},{"id":"5052fb75.8383a4","type":"tab","label":"Web GUI","disabled":false,"info":""},{"id":"911a1d93.ff24d","type":"tab","label":"Wemo","disabled":false,"info":""},{"id":"900f51d5.28543","type":"tab","label":"Led Evier/Grille-Pain","disabled":false,"info":""},{"id":"d661d96d.6fc278","type":"tab","label":"Arrosage","disabled":false,"info":""},{"id":"1f11d834.ef2828","type":"tab","label":"Test","disabled":false,"info":""},{"id":"c3a56f5f.dbd01","type":"ui_tab","z":"","name":"Domotik","icon":"dashboard","disabled":false,"hidden":false},{"id":"3aad0def.833362","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fb7c7d9.b25f38","type":"ui_tab","z":"","name":"Exterieur","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"93f64714.52cf98","type":"ui_group","z":"","name":"Panneau","tab":"fb7c7d9.b25f38","order":1,"disp":true,"width":"6","collapse":false},{"id":"affa6937.870c68","type":"ui_group","z":"","name":"Bienvenue","tab":"c3a56f5f.dbd01","order":1,"disp":true,"width":"6","collapse":false},{"id":"2621e2a6.ad863e","type":"wemo-dev","z":"","device":"221423K130047C","name":"WeMo Light Switch"},{"id":"35a1230f.77f14c","type":"wemo-dev","z":"","device":"221333K01001DE","name":"WeMo Switch"},{"id":"2059daa5.2ba5b6","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"46.8","longitude":"-71.4"},{"id":"bedcd6ba.c74a68","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"46.8","longitude":"-71.4"},{"id":"675e8ce1.20f904","type":"mqtt-broker","z":"","name":"Domotik-Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ed3c299c.1f5db8","type":"http request","z":"a8f000ca.45291","name":"Yun IO board","method":"GET","ret":"obj","url":"192.168.0.110/data/get","tls":"","x":360,"y":160,"wires":[["ebc3b31f.640e5"]]},{"id":"d1a1234.1b288e","type":"inject","z":"a8f000ca.45291","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":160,"wires":[["ed3c299c.1f5db8"]]},{"id":"ebc3b31f.640e5","type":"function","z":"a8f000ca.45291","name":"Global Definitions","func":"\n//get values from Yun Board\nvar t_ext = msg.payload.value.AI1;\nvar t_piscine = msg.payload.value.AI2;\nvar t_panneau = msg.payload.value.AI5;\nvar photocell_ext = msg.payload.value.AI6;\nvar etat_chauf = msg.payload.value.DO1;\nvar etat_valve = msg.payload.value.DO6;\n\n//set global values\nglobal.set(\"T_EXT\", t_ext);\nglobal.set(\"T_PISCINE\", t_piscine);\nglobal.set(\"T_PANEL\", t_panneau);\nglobal.set(\"PHOTOCELL\", photocell_ext);\nglobal.set(\"ETAT_DO1\", etat_chauf); \nglobal.set(\"ETAT_DO6\", etat_valve);\n\nvar msg1 = { payload: t_ext };\nvar msg2 = { payload: t_piscine };\nvar msg3 = { payload: t_panneau };\nvar msg4 = { payload: photocell_ext };\nvar msg5 = { payload: etat_chauf };\nvar msg6 = { payload: etat_valve };\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];\n\n//Fin","outputs":6,"noerr":0,"x":570,"y":160,"wires":[["fb24360a.a773b8"],["d09ce9fc.b1ead8"],["3b734f9d.811d2"],["a0f25ddc.4fff8"],["e8e5391c.80bbd8"],["4dad9a1d.4b5b44"]]},{"id":"fe33566.ea893a8","type":"inject","z":"a8f000ca.45291","name":"","topic":"","payload":"T_PANEL","payloadType":"global","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":390,"wires":[["7d3ea0e4.9499","4d3db337.1ad27c"]]},{"id":"734e4b42.1bb034","type":"comment","z":"a8f000ca.45291","name":"Panel Heating","info":"","x":140,"y":349,"wires":[]},{"id":"79016eea.9f7c2","type":"debug","z":"a8f000ca.45291","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":390,"wires":[]},{"id":"7d3ea0e4.9499","type":"debug","z":"a8f000ca.45291","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":430,"wires":[]},{"id":"4d3db337.1ad27c","type":"function","z":"a8f000ca.45291","name":"controle chauffage","func":"\nvar t = msg.payload;\nvar s = global.get(\"ETAT_DO1\");\nvar out;\n\nif ((t <= 5) && (s == 0)) {\n    out = { payload: 1 }; \n} else if ((t >= 10) && (s == 1)) {\n    out = { payload: 0 };  \n}\n\nreturn out;\n\n//Fin\n","outputs":1,"noerr":0,"x":410,"y":390,"wires":[["41aad354.c4351c","cc4e7e23.03dbc"]]},{"id":"41aad354.c4351c","type":"switch","z":"a8f000ca.45291","name":"Chauffage ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":390,"wires":[["e3f2b3a4.7a31b"]]},{"id":"cc4e7e23.03dbc","type":"switch","z":"a8f000ca.45291","name":"Chauffage OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":430,"wires":[["aed0092d.56fa78"]]},{"id":"f713815b.503ab","type":"debug","z":"a8f000ca.45291","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":430,"wires":[]},{"id":"e3f2b3a4.7a31b","type":"http request","z":"a8f000ca.45291","name":"Yun DO1-1","method":"GET","ret":"txt","url":"192.168.0.110/arduino/digitaloutput/1/1","tls":"","x":850,"y":390,"wires":[["79016eea.9f7c2"]]},{"id":"aed0092d.56fa78","type":"http request","z":"a8f000ca.45291","name":"Yun DO1-0","method":"GET","ret":"txt","url":"192.168.0.110/arduino/digitaloutput/1/0","tls":"","x":850,"y":430,"wires":[["f713815b.503ab"]]},{"id":"434253c8.d090cc","type":"inject","z":"5052fb75.8383a4","name":"","topic":"","payload":"T_PANEL","payloadType":"global","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":140,"wires":[["33e1c76d.93c568","404fe1b1.71cc5"]]},{"id":"33e1c76d.93c568","type":"ui_gauge","z":"5052fb75.8383a4","name":"","group":"93f64714.52cf98","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"C","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":140,"wires":[]},{"id":"e7857be.e215288","type":"inject","z":"5052fb75.8383a4","name":"","topic":"","payload":"T_EXT","payloadType":"global","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":50,"wires":[["921c9c50.d0bb6","bf3a9441.126518"]]},{"id":"921c9c50.d0bb6","type":"ui_gauge","z":"5052fb75.8383a4","name":"","group":"affa6937.870c68","order":0,"width":0,"height":0,"gtype":"gage","title":"température ext.","label":"C","format":"{{value}}","min":"-30","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":50,"wires":[]},{"id":"bf3a9441.126518","type":"ui_chart","z":"5052fb75.8383a4","name":"","group":"affa6937.870c68","order":1,"width":0,"height":0,"label":"Tendance","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":90,"wires":[[]]},{"id":"404fe1b1.71cc5","type":"ui_chart","z":"5052fb75.8383a4","name":"","group":"93f64714.52cf98","order":1,"width":0,"height":0,"label":"Tendance","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":180,"wires":[[]]},{"id":"186f5521.ec760b","type":"wemo lookup","z":"911a1d93.ff24d","name":"","device":"2621e2a6.ad863e","label":"WeMo Light Switch","x":350,"y":50,"wires":[["c1c44e32.41ff3"]]},{"id":"42111725.97f6f8","type":"inject","z":"911a1d93.ff24d","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":50,"wires":[["186f5521.ec760b","cea28bab.c471c8"]]},{"id":"cea28bab.c471c8","type":"wemo lookup","z":"911a1d93.ff24d","name":"","device":"35a1230f.77f14c","label":"WeMo Switch","x":340,"y":100,"wires":[["39839c7c.63d1c4"]]},{"id":"e62f04a3.c3d398","type":"bigtimer","z":"911a1d93.ff24d","outtopic":"","outpayload1":"ON","outpayload2":"OFF","name":"6h00-On","comment":"","lat":"46.8","lon":"-71.4","starttime":"360","endtime":"420","starttime2":"0","endtime2":"0","startoff":"0","endoff":0,"startoff2":"0","endoff2":0,"offs":"0","outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":300,"y":280,"wires":[["3e2b867e.1a9cca","a940be2d.312f3"],[],[]]},{"id":"a6f90a8e.e7e328","type":"bigtimer","z":"900f51d5.28543","outtopic":"","outpayload1":"ON","outpayload2":"OFF","name":"5h30-8h30","comment":"","lat":"46.8","lon":"-71.4","starttime":"330","endtime":"510","starttime2":"0","endtime2":"0","startoff":"0","endoff":"1","startoff2":0,"endoff2":0,"offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":170,"y":110,"wires":[["4c257308.db205c","7ee41103.6b629"],[],[]]},{"id":"4c257308.db205c","type":"switch","z":"900f51d5.28543","name":"Led ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":60,"wires":[["a8470de.07d89f"]]},{"id":"7ee41103.6b629","type":"switch","z":"900f51d5.28543","name":"Led OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":140,"wires":[["6cf2a8e5.121308"]]},{"id":"e5aa3d2e.8f9eb","type":"bigtimer","z":"900f51d5.28543","outtopic":"","outpayload1":"ON","outpayload2":"OFF","name":"16h00 100%","comment":"","lat":"46.8","lon":"-71.4","starttime":"960","endtime":"975","starttime2":"0","endtime2":"0","startoff":"0","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":170,"y":460,"wires":[["ff8d708a.bfdba"],[],[]]},{"id":"ff8d708a.bfdba","type":"switch","z":"900f51d5.28543","name":"Led ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":430,"wires":[["a980d156.e8a48"]]},{"id":"c1c44e32.41ff3","type":"debug","z":"911a1d93.ff24d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":600,"y":50,"wires":[]},{"id":"39839c7c.63d1c4","type":"debug","z":"911a1d93.ff24d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":100,"wires":[]},{"id":"24030102.4e5c8e","type":"bigtimer","z":"900f51d5.28543","outtopic":"","outpayload1":"ON","outpayload2":"OFF","name":"11h30-12h30","comment":"","lat":"46.8","lon":"-71.4","starttime":"690","endtime":"750","starttime2":"0","endtime2":"0","startoff":"0","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":170,"y":290,"wires":[["d8801eaf.b9c2","bcfa819e.a4c52"],[],[]]},{"id":"d8801eaf.b9c2","type":"switch","z":"900f51d5.28543","name":"Led ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":240,"wires":[["693f4820.2e7068"]]},{"id":"bcfa819e.a4c52","type":"switch","z":"900f51d5.28543","name":"Led OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":320,"wires":[["1faae5f1.59319a"]]},{"id":"6e3386bb.785848","type":"bigtimer","z":"900f51d5.28543","outtopic":"","outpayload1":"ON","outpayload2":"OFF","name":"Sunset Event","comment":"","lat":"46.8","lon":"-71.4","starttime":"0","endtime":"0","starttime2":"0","endtime2":"0","startoff":"0","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":170,"y":980,"wires":[[],["18b0b663.a55afa","dc5333ad.d9c8c"],[]]},{"id":"b0af792d.eaa0a8","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":920,"wires":[["6e3386bb.785848"]]},{"id":"18b0b663.a55afa","type":"function","z":"900f51d5.28543","name":"Event Time A","func":"var actualTime = msg.now;\nvar sunsetTime = msg.sunset;\nvar eventTime;\nvar event;\n\nactualTime = Math.round(actualTime/60*100); //from decimal to actual time\nsunsetTime = Math.round(sunsetTime/60*100); //from decimal to actual time\n\nvar x1 = 1600; //16h00\nvar x2 = 2075; //20h45\nvar y1 = 1850; //18h30\nvar y2 = 2150; //21h30\n\neventTime = (sunsetTime-x1) * (y2-y1) / (x2-x1) + y1;\neventTime = Math.round(eventTime);\n\n//Event for dimming \nif ((actualTime >= eventTime) && (actualTime <= eventTime+3)) {\n    event = true;\n} else {\n    event = false;\n}\n\nvar msgObj= {decimalTime: actualTime, eventTime_A: eventTime };\n\nvar msg1 = { payload: event };\nvar msg2 = { payload: msgObj };\n\nreturn [msg1, msg2];\n\n//Fin\n","outputs":2,"noerr":0,"x":410,"y":980,"wires":[["de972188.d6a0b"],["c4ea4db3.52224","bc20b802.9682b8"]]},{"id":"dcb6f13e.0d28e","type":"inject","z":"1f11d834.ef2828","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":110,"wires":[["3ffb9596.de61aa"]]},{"id":"4429ad36.f03c84","type":"inject","z":"1f11d834.ef2828","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":150,"wires":[["3ffb9596.de61aa"]]},{"id":"b0dd6c50.d41a9","type":"inject","z":"1f11d834.ef2828","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":190,"wires":[["3ffb9596.de61aa"]]},{"id":"3ffb9596.de61aa","type":"function","z":"1f11d834.ef2828","name":"scale","func":"\nvar x = msg.payload;\nvar out;\nvar x1 = 0;\nvar x2 = 100;\nvar y1 = 0;\nvar y2 = 255;\n\nout = (x-x1) * (y2-y1) / (x2-x1) + y1;\n\nvar msg1 = { payload: out};\n\nreturn msg1;\n\n//Fin\n","outputs":1,"noerr":0,"x":340,"y":150,"wires":[["edb8c8c5.4f3468"]]},{"id":"edb8c8c5.4f3468","type":"debug","z":"1f11d834.ef2828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":150,"wires":[]},{"id":"5ccea71d.be57f8","type":"inject","z":"1f11d834.ef2828","name":"","topic":"","payload":"1152","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["1ebe5b60.7219f5"]]},{"id":"1ebe5b60.7219f5","type":"function","z":"1f11d834.ef2828","name":"time converter","func":"\nvar time = msg.payload/60;\nvar hour;\nvar min;\n//=TRONQUE((C6-(TRONQUE(C6)))*100)\n//=ARRONDI(D6*60/100)\nhour = Math.trunc(time);\nmin = Math.trunc((time-Math.trunc(time))*100);\nmin = Math.round(min*60/100);\n\nvar msg1 = { payload: hour+\":\"+min};\n\nreturn msg1;\n\n//Fin\n","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["5fdf363b.fff748"]]},{"id":"5fdf363b.fff748","type":"debug","z":"1f11d834.ef2828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":60,"wires":[]},{"id":"9b67b4c6.518698","type":"inject","z":"1f11d834.ef2828","name":"","topic":"","payload":"1592","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":280,"wires":[["6444d30c.30cd8c"]]},{"id":"c7235a08.380ce8","type":"inject","z":"1f11d834.ef2828","name":"","topic":"","payload":"1838","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":320,"wires":[["6444d30c.30cd8c"]]},{"id":"26ad70f6.acb2d","type":"inject","z":"1f11d834.ef2828","name":"","topic":"","payload":"2084","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":360,"wires":[["6444d30c.30cd8c"]]},{"id":"6444d30c.30cd8c","type":"function","z":"1f11d834.ef2828","name":"event_A","func":"\nvar x = msg.payload;\nvar out;\nvar x1 = 1592;\nvar x2 = 2084;\nvar y1 = 1850;\nvar y2 = 2150;\n\nout = (x-x1) * (y2-y1) / (x2-x1) + y1;\n\nvar msg1 = { payload: out};\n\nreturn msg1;\n\n//Fin\n","outputs":1,"noerr":0,"x":400,"y":320,"wires":[["c0f18504.6f1d98"]]},{"id":"c0f18504.6f1d98","type":"debug","z":"1f11d834.ef2828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":320,"wires":[]},{"id":"19df4779.838759","type":"inject","z":"1f11d834.ef2828","name":"","topic":"","payload":"1849","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":420,"wires":[["e41ea7a1.3e1628"]]},{"id":"bde0ddf7.d88af","type":"inject","z":"1f11d834.ef2828","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":460,"wires":[["e41ea7a1.3e1628"]]},{"id":"896f7a5b.17f648","type":"inject","z":"1f11d834.ef2828","name":"","topic":"","payload":"2151","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":500,"wires":[["e41ea7a1.3e1628"]]},{"id":"e41ea7a1.3e1628","type":"function","z":"1f11d834.ef2828","name":"event_B","func":"\nvar x = msg.payload;\nvar out;\nvar x1 = 1850;\nvar x2 = 2150;\nvar y1 = 2000;\nvar y2 = 2200;\n\nout = (x-x1) * (y2-y1) / (x2-x1) + y1;\n\nvar msg1 = { payload: out};\n\nreturn msg1;\n\n//Fin\n","outputs":1,"noerr":0,"x":400,"y":460,"wires":[["a220c99f.0024f8"]]},{"id":"a220c99f.0024f8","type":"debug","z":"1f11d834.ef2828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":460,"wires":[]},{"id":"c4ea4db3.52224","type":"function","z":"900f51d5.28543","name":"Event Time B","func":"var actualTime = msg.payload.decimalTime;\nvar sunsetTime = msg.payload.eventTime_A;\nvar eventTime;\nvar event;\n\nvar x1 = 1850; //18h30\nvar x2 = 2150; //21h30\nvar y1 = 2000; //20h00\nvar y2 = 2200; //22h00\n\neventTime = (sunsetTime-x1) * (y2-y1) / (x2-x1) + y1;\neventTime = Math.round(eventTime);\n\n//Event for dimming \nif ((actualTime >= eventTime) && (actualTime <= eventTime+3)) {\n    event = true;\n} else {\n    event = false;\n}\n\nvar msgObj= {decimalTime: actualTime, eventTime_B: eventTime };\n\nvar msg1 = { payload: event };\nvar msg2 = { payload: msgObj };\n\nreturn [msg1, msg2];\n\n//Fin\n","outputs":2,"noerr":0,"x":410,"y":1180,"wires":[["43cfe528.669b1c"],["3625d6f4.bd5ada","cacfcc7e.5d178"]]},{"id":"3625d6f4.bd5ada","type":"function","z":"900f51d5.28543","name":"Event Time C","func":"var actualTime = msg.payload.decimalTime;\nvar sunsetTime = msg.payload.eventTime_B;\nvar eventTime;\nvar event;\n\nvar x1 = 2000; //20h00\nvar x2 = 2200; //22h00\nvar y1 = 2200; //22h00\nvar y2 = 2250; //22h30\n\neventTime = (sunsetTime-x1) * (y2-y1) / (x2-x1) + y1;\neventTime = Math.round(eventTime);\n\n//Event for dimming \nif ((actualTime >= eventTime) && (actualTime <= eventTime+3)) {\n    event = true;\n} else {\n    event = false;\n}\n\nvar msgObj= {decimalTime: actualTime, eventTime_C: eventTime };\n\nvar msg1 = { payload: event };\nvar msg2 = { payload: msgObj };\n\nreturn [msg1, msg2];\n\n//Fin\n","outputs":2,"noerr":0,"x":410,"y":1380,"wires":[["d39370c8.8929a","1ae8473a.ff5779"],["4c4cd31d.0940cc","ba24a77e.748b28"]]},{"id":"4c4cd31d.0940cc","type":"function","z":"900f51d5.28543","name":"Event Time D","func":"var actualTime = msg.payload.decimalTime;\nvar sunsetTime = msg.payload.eventTime_C;\nvar eventTime;\nvar event;\n\nvar x1 = 2200; //22h00\nvar x2 = 2250; //22h30\nvar y1 = 2300; //23h00\nvar y2 = 2350; //23h30\n\neventTime = (sunsetTime-x1) * (y2-y1) / (x2-x1) + y1;\neventTime = Math.round(eventTime);\n\n//Event for dimming \nif ((actualTime >= eventTime) && (actualTime <= eventTime+3)) {\n    event = true;\n} else {\n    event = false;\n}\n\nvar msgObj= {decimalTime: actualTime, eventTime_D: eventTime };\n\nvar msg1 = { payload: event };\nvar msg2 = { payload: msgObj };\n\nreturn [msg1, msg2];\n\n//Fin\n","outputs":2,"noerr":0,"x":410,"y":1580,"wires":[["b361235d.1fbf4","5801ea7c.0a9754"],["967a2b21.9dece8"]]},{"id":"de972188.d6a0b","type":"switch","z":"900f51d5.28543","name":"Event_A","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":890,"wires":[["c1314697.fcf198"]]},{"id":"bc89e992.06bb78","type":"delay","z":"900f51d5.28543","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":1220,"wires":[["67ce0664.2ea068"]]},{"id":"43cfe528.669b1c","type":"switch","z":"900f51d5.28543","name":"Event_B","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":1090,"wires":[["503a8b9c.ab3784"]]},{"id":"d39370c8.8929a","type":"switch","z":"900f51d5.28543","name":"Event_C","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":1290,"wires":[["1d471e65.5eb9e2"]]},{"id":"b361235d.1fbf4","type":"switch","z":"900f51d5.28543","name":"Event_D","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":1490,"wires":[["dc86a638.803358"]]},{"id":"bfb1cca.f9bef3","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":50,"wires":[["4c257308.db205c"]]},{"id":"df805e9.fa1d9a","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":170,"wires":[["7ee41103.6b629"]]},{"id":"8f7482f2.090ca","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":230,"wires":[["d8801eaf.b9c2"]]},{"id":"ddb89b16.791398","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":350,"wires":[["bcfa819e.a4c52"]]},{"id":"a09dae5d.cf8cb","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":410,"wires":[["ff8d708a.bfdba"]]},{"id":"552cd01c.3bdb9","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":940,"wires":[["de972188.d6a0b"]]},{"id":"41a49b8e.aebea4","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":1140,"wires":[["43cfe528.669b1c"]]},{"id":"86c5244c.3fe358","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":1340,"wires":[["d39370c8.8929a"]]},{"id":"65b866ae.756e98","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":1540,"wires":[["b361235d.1fbf4"]]},{"id":"242c9557.a8e5fa","type":"change","z":"911a1d93.ff24d","name":"ON to 0","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":420,"wires":[["6154b6dd.608758","1ef6ba6c.4d9216"]]},{"id":"3e2b867e.1a9cca","type":"function","z":"911a1d93.ff24d","name":"Photocell < 60","func":"\nvar sch_in = msg.payload;\nvar photo = global.get(\"PHOTOCELL\");\nvar sch_out;\n\nif ((sch_in == \"ON\") && (photo <= 60)) {\n    sch_out = 1;\n} else {\n    sch_out = 0;\n}\n\nvar  msg1 = { payload: sch_out };\nvar  msg2 = { payload: photo };\n\nreturn [msg1, msg2];\n\n//Fin\n","outputs":2,"noerr":0,"x":520,"y":310,"wires":[["1ef6ba6c.4d9216"],[]]},{"id":"91ef3baf.9dda98","type":"inject","z":"911a1d93.ff24d","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":220,"wires":[["e62f04a3.c3d398"]]},{"id":"759fb3d0.51afcc","type":"inject","z":"911a1d93.ff24d","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":340,"wires":[["3e2b867e.1a9cca"]]},{"id":"1ef6ba6c.4d9216","type":"wemo out","z":"911a1d93.ff24d","name":"Perron avant","device":"2621e2a6.ad863e","label":"WeMo Light Switch","x":840,"y":650,"wires":[]},{"id":"f3d549cd.b81728","type":"inject","z":"911a1d93.ff24d","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":720,"wires":[["1ef6ba6c.4d9216"]]},{"id":"a102dc98.a1b04","type":"inject","z":"911a1d93.ff24d","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":760,"wires":[["1ef6ba6c.4d9216"]]},{"id":"8941cdb7.a3a17","type":"bigtimer","z":"911a1d93.ff24d","outtopic":"","outpayload1":"ON","outpayload2":"OFF","name":"7h30-Off","comment":"","lat":"46.8","lon":"-71.4","starttime":"450","endtime":"465","starttime2":"0","endtime2":"0","startoff":"0","endoff":0,"startoff2":"0","endoff2":0,"offs":"0","outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":180,"y":450,"wires":[["3102ef9b.91e1d"],[],[]]},{"id":"25d9a08f.05ae2","type":"inject","z":"911a1d93.ff24d","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":390,"wires":[["8941cdb7.a3a17"]]},{"id":"6154b6dd.608758","type":"wemo out","z":"911a1d93.ff24d","name":"Table Salon","device":"35a1230f.77f14c","label":"WeMo Switch","x":840,"y":560,"wires":[]},{"id":"90af87b6.9d2738","type":"inject","z":"911a1d93.ff24d","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":470,"wires":[["6154b6dd.608758"]]},{"id":"897750f1.8ebb3","type":"inject","z":"911a1d93.ff24d","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":510,"wires":[["6154b6dd.608758"]]},{"id":"3102ef9b.91e1d","type":"switch","z":"911a1d93.ff24d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":420,"wires":[["242c9557.a8e5fa"]]},{"id":"4d2569a1.b83d38","type":"inject","z":"911a1d93.ff24d","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":510,"wires":[["3102ef9b.91e1d"]]},{"id":"49d0def5.739e4","type":"change","z":"911a1d93.ff24d","name":"ON to 1","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":610,"wires":[["6154b6dd.608758","1ef6ba6c.4d9216"]]},{"id":"5807ec38.330134","type":"bigtimer","z":"911a1d93.ff24d","outtopic":"","outpayload1":"ON","outpayload2":"OFF","name":"Sunset","comment":"","lat":"46.8","lon":"-71.4","starttime":"5004","endtime":"5001","starttime2":"0","endtime2":"0","startoff":"-16","endoff":0,"startoff2":"0","endoff2":0,"offs":"0","outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":180,"y":640,"wires":[["1af42d90.30bc12"],[],[]]},{"id":"dbd56eef.1792d","type":"inject","z":"911a1d93.ff24d","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":580,"wires":[["5807ec38.330134"]]},{"id":"1af42d90.30bc12","type":"switch","z":"911a1d93.ff24d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":610,"wires":[["49d0def5.739e4"]]},{"id":"22237ad6.206166","type":"inject","z":"911a1d93.ff24d","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":700,"wires":[["1af42d90.30bc12"]]},{"id":"1ae8473a.ff5779","type":"link out","z":"900f51d5.28543","name":"Event C","links":["9004ae90.30a99"],"x":405,"y":1320,"wires":[]},{"id":"5801ea7c.0a9754","type":"link out","z":"900f51d5.28543","name":"Event D","links":["3c03b12b.0c688e"],"x":405,"y":1520,"wires":[]},{"id":"1ec486ad.7f30c9","type":"change","z":"911a1d93.ff24d","name":"True to 0","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":790,"wires":[["6154b6dd.608758"]]},{"id":"ec5ca513.b13568","type":"switch","z":"911a1d93.ff24d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":790,"wires":[["1ec486ad.7f30c9"]]},{"id":"30e35da9.e199a2","type":"inject","z":"911a1d93.ff24d","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":810,"wires":[["ec5ca513.b13568"]]},{"id":"9004ae90.30a99","type":"link in","z":"911a1d93.ff24d","name":"Wemo Event C","links":["1ae8473a.ff5779"],"x":235,"y":770,"wires":[["ec5ca513.b13568"]]},{"id":"1b8dc1e3.b243de","type":"change","z":"911a1d93.ff24d","name":"True to 0","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":900,"wires":[["1ef6ba6c.4d9216"]]},{"id":"6cf8cdf8.cb1c64","type":"switch","z":"911a1d93.ff24d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":900,"wires":[["1b8dc1e3.b243de"]]},{"id":"c5df1e56.1bda3","type":"inject","z":"911a1d93.ff24d","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":920,"wires":[["6cf8cdf8.cb1c64"]]},{"id":"3c03b12b.0c688e","type":"link in","z":"911a1d93.ff24d","name":"Wemo Event D","links":["5801ea7c.0a9754"],"x":235,"y":880,"wires":[["6cf8cdf8.cb1c64"]]},{"id":"fb24360a.a773b8","type":"mqtt out","z":"a8f000ca.45291","name":"","topic":"yunboard/input/t_ext","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":850,"y":50,"wires":[]},{"id":"d09ce9fc.b1ead8","type":"mqtt out","z":"a8f000ca.45291","name":"","topic":"yunboard/input/t_piscine","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":860,"y":90,"wires":[]},{"id":"3b734f9d.811d2","type":"mqtt out","z":"a8f000ca.45291","name":"","topic":"yunboard/input/t_panneau","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":860,"y":130,"wires":[]},{"id":"a0f25ddc.4fff8","type":"mqtt out","z":"a8f000ca.45291","name":"","topic":"yunboard/input/photocell","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":860,"y":170,"wires":[]},{"id":"e8e5391c.80bbd8","type":"mqtt out","z":"a8f000ca.45291","name":"","topic":"yunboard/input/etat_chauf","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":860,"y":220,"wires":[]},{"id":"3bd0323f.e3860e","type":"mqtt in","z":"911a1d93.ff24d","name":"","topic":"lampe-salon","qos":"2","broker":"675e8ce1.20f904","x":540,"y":540,"wires":[["6154b6dd.608758"]]},{"id":"913940ce.0b5a","type":"mqtt in","z":"911a1d93.ff24d","name":"","topic":"lumiere-perron","qos":"2","broker":"675e8ce1.20f904","x":530,"y":680,"wires":[["1ef6ba6c.4d9216"]]},{"id":"ab770a3a.829bb8","type":"mqtt out","z":"900f51d5.28543","name":"","topic":"sunset","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":330,"y":1060,"wires":[]},{"id":"dc5333ad.d9c8c","type":"function","z":"900f51d5.28543","name":"hh:mm","func":"\nvar t = Math.round(msg.sunset/60*100);\nvar d = t/100;\nvar h = Math.trunc(d);\nvar dm = (d-h)*100;\nvar m = Math.round(dm*60/100);\n\nvar msg1 = {payload: h+\":\"+checkTime(m)};\n\nfunction checkTime(min) {\n  if (min < 10) {\n    min = \"0\" + min;\n  }\n  return min;\n}\n\nreturn msg1;","outputs":1,"noerr":0,"x":330,"y":1020,"wires":[["ab770a3a.829bb8"]]},{"id":"bc20b802.9682b8","type":"function","z":"900f51d5.28543","name":"hh:mm","func":"\nvar t = msg.payload.eventTime_A;\nvar d = t/100;\nvar h = Math.trunc(d);\nvar dm = (d-h)*100;\nvar m = Math.round(dm*60/100);\n\nvar msg1 = {payload: h+\":\"+checkTime(m)};\n\nfunction checkTime(min) {\n  if (min < 10) {\n    min = \"0\" + min;\n  }\n  return min;\n}\n\nreturn msg1;","outputs":1,"noerr":0,"x":620,"y":980,"wires":[["1ec62774.1fe699"]]},{"id":"1ec62774.1fe699","type":"mqtt out","z":"900f51d5.28543","name":"","topic":"sunset_A","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":630,"y":1020,"wires":[]},{"id":"cacfcc7e.5d178","type":"function","z":"900f51d5.28543","name":"hh:mm","func":"\nvar t = msg.payload.eventTime_B;\nvar d = t/100;\nvar h = Math.trunc(d);\nvar dm = (d-h)*100;\nvar m = Math.round(dm*60/100);\n\nvar msg1 = {payload: h+\":\"+checkTime(m)};\n\nfunction checkTime(min) {\n  if (min < 10) {\n    min = \"0\" + min;\n  }\n  return min;\n}\n\nreturn msg1;","outputs":1,"noerr":0,"x":620,"y":1180,"wires":[["44961475.8ab6fc"]]},{"id":"44961475.8ab6fc","type":"mqtt out","z":"900f51d5.28543","name":"","topic":"sunset_B","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":630,"y":1220,"wires":[]},{"id":"ba24a77e.748b28","type":"function","z":"900f51d5.28543","name":"hh:mm","func":"\nvar t = msg.payload.eventTime_C;\nvar d = t/100;\nvar h = Math.trunc(d);\nvar dm = (d-h)*100;\nvar m = Math.round(dm*60/100);\n\nvar msg1 = {payload: h+\":\"+checkTime(m)};\n\nfunction checkTime(min) {\n  if (min < 10) {\n    min = \"0\" + min;\n  }\n  return min;\n}\n\nreturn msg1;","outputs":1,"noerr":0,"x":620,"y":1380,"wires":[["eb9176d2.d95958"]]},{"id":"eb9176d2.d95958","type":"mqtt out","z":"900f51d5.28543","name":"","topic":"sunset_C","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":630,"y":1420,"wires":[]},{"id":"967a2b21.9dece8","type":"function","z":"900f51d5.28543","name":"hh:mm","func":"\nvar t = msg.payload.eventTime_D;\nvar d = t/100;\nvar h = Math.trunc(d);\nvar dm = (d-h)*100;\nvar m = Math.round(dm*60/100);\n\nvar msg1 = {payload: h+\":\"+checkTime(m)};\n\nfunction checkTime(min) {\n  if (min < 10) {\n    min = \"0\" + min;\n  }\n  return min;\n}\n\nreturn msg1;","outputs":1,"noerr":0,"x":620,"y":1580,"wires":[["cc17dfd8.b542a"]]},{"id":"cc17dfd8.b542a","type":"mqtt out","z":"900f51d5.28543","name":"","topic":"sunset_D","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":630,"y":1620,"wires":[]},{"id":"6bca970b.d88b88","type":"mqtt out","z":"911a1d93.ff24d","name":"","topic":"lumiere-perron","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":1240,"y":860,"wires":[]},{"id":"2967b8.52488848","type":"function","z":"911a1d93.ff24d","name":"state","func":"\nvar s = msg.payload.state;\n\nvar msg1 = {payload: s};\n\nreturn msg1;","outputs":1,"noerr":0,"x":1070,"y":810,"wires":[["78de96e9.e5c3d8"]]},{"id":"f10bbab1.9476c8","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"Off","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":1740,"wires":[["16df05a6.2550fa","75e51bbd.df03b4"]]},{"id":"16df05a6.2550fa","type":"change","z":"900f51d5.28543","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Off","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Dark","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Low","fromt":"str","to":"10","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Med","fromt":"str","to":"50","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"High","fromt":"str","to":"100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1760,"wires":[["666e4133.b75de","8638bc8d.94f95"]]},{"id":"d3f8bd6.c94ec4","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"Low","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":1820,"wires":[["16df05a6.2550fa","75e51bbd.df03b4"]]},{"id":"8d114d2e.568c","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"Med","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":1860,"wires":[["16df05a6.2550fa","75e51bbd.df03b4"]]},{"id":"72f195e6.4b34bc","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"High","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":1900,"wires":[["16df05a6.2550fa","75e51bbd.df03b4"]]},{"id":"666e4133.b75de","type":"function","z":"900f51d5.28543","name":"Evier url","func":"var index = msg.payload;\n\nmsg.method = \"get\";\nmsg.url =\"192.168.0.91/led2?params=\"+index;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1740,"wires":[["c23303ad.97875"]]},{"id":"c23303ad.97875","type":"http request","z":"900f51d5.28543","name":"HTTP Evier","method":"use","ret":"txt","url":"","tls":"","x":790,"y":1740,"wires":[[]]},{"id":"e08f510.2c2a4b","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"Dark","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":1780,"wires":[["16df05a6.2550fa","75e51bbd.df03b4"]]},{"id":"a8470de.07d89f","type":"change","z":"900f51d5.28543","name":"High","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"High","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":60,"wires":[["2a020a9a.703416"]]},{"id":"6cf2a8e5.121308","type":"change","z":"900f51d5.28543","name":"Off","rules":[{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":140,"wires":[["2a020a9a.703416"]]},{"id":"693f4820.2e7068","type":"change","z":"900f51d5.28543","name":"High","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"High","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":240,"wires":[["2a020a9a.703416"]]},{"id":"1faae5f1.59319a","type":"change","z":"900f51d5.28543","name":"Off","rules":[{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":320,"wires":[["2a020a9a.703416"]]},{"id":"a980d156.e8a48","type":"change","z":"900f51d5.28543","name":"High","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"High","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":430,"wires":[["2a020a9a.703416"]]},{"id":"c1314697.fcf198","type":"change","z":"900f51d5.28543","name":"Med","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Med","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":890,"wires":[["95ef842.af89178","bc89e992.06bb78"]]},{"id":"503a8b9c.ab3784","type":"change","z":"900f51d5.28543","name":"Low","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Low","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1090,"wires":[["95ef842.af89178","bc89e992.06bb78"]]},{"id":"1d471e65.5eb9e2","type":"change","z":"900f51d5.28543","name":"Dark","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Dark","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1290,"wires":[["95ef842.af89178","bc89e992.06bb78"]]},{"id":"dc86a638.803358","type":"change","z":"900f51d5.28543","name":"Off","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1490,"wires":[["95ef842.af89178","bc89e992.06bb78"]]},{"id":"d06cba18.260588","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"Off","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":1980,"wires":[["981965d6.3017e8","bdc1fc80.fb0ab"]]},{"id":"981965d6.3017e8","type":"change","z":"900f51d5.28543","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Off","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Dark","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Low","fromt":"str","to":"15","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Med","fromt":"str","to":"45","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"High","fromt":"str","to":"75","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":2000,"wires":[["ebc901f3.8de","7a34025.10a22fc"]]},{"id":"e4f8c159.357c4","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"Low","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":2060,"wires":[["981965d6.3017e8","bdc1fc80.fb0ab"]]},{"id":"bb40518f.88564","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"Med","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":2100,"wires":[["981965d6.3017e8","bdc1fc80.fb0ab"]]},{"id":"a9358ded.713","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"High","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":2140,"wires":[["981965d6.3017e8","bdc1fc80.fb0ab"]]},{"id":"ebc901f3.8de","type":"function","z":"900f51d5.28543","name":"Armoire droit url","func":"var index = msg.payload;\n\nmsg.method = \"get\";\nmsg.url =\"192.168.0.91/led1?params=\"+index;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1980,"wires":[["8c697d9d.9f38"]]},{"id":"8c697d9d.9f38","type":"http request","z":"900f51d5.28543","name":"HHTP Armoire droit","method":"use","ret":"txt","url":"","tls":"","x":850,"y":1980,"wires":[[]]},{"id":"fe038333.4995d","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"Dark","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":2020,"wires":[["981965d6.3017e8","bdc1fc80.fb0ab"]]},{"id":"1a117353.421ead","type":"change","z":"900f51d5.28543","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Off","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Dark","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Low","fromt":"str","to":"15","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Med","fromt":"str","to":"45","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"High","fromt":"str","to":"75","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":2120,"wires":[["481ce86d.7726d8","cd64a0f9.fb7f3"]]},{"id":"481ce86d.7726d8","type":"function","z":"900f51d5.28543","name":"Armoire gauche url","func":"var index = msg.payload;\n\nmsg.method = \"get\";\nmsg.url =\"192.168.0.91/led4?params=\"+index;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":2100,"wires":[["366b5674.00ce6a"]]},{"id":"366b5674.00ce6a","type":"http request","z":"900f51d5.28543","name":"HTTP Armoire gauche","method":"use","ret":"txt","url":"","tls":"","x":1050,"y":2100,"wires":[[]]},{"id":"8d277b79.34ad08","type":"change","z":"900f51d5.28543","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Off","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Dark","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Low","fromt":"str","to":"5","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Med","fromt":"str","to":"20","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"High","fromt":"str","to":"40","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1870,"wires":[["261d93b.58d7d6c","99e36d64.e8405"]]},{"id":"261d93b.58d7d6c","type":"function","z":"900f51d5.28543","name":"Grille-pain url","func":"var index = msg.payload;\n\nmsg.method = \"get\";\nmsg.url =\"192.168.0.91/led3?params=\"+index;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1850,"wires":[["67c37bbe.9b6cd4"]]},{"id":"67c37bbe.9b6cd4","type":"http request","z":"900f51d5.28543","name":"HTTP Grille-pain","method":"use","ret":"txt","url":"","tls":"","x":1010,"y":1850,"wires":[[]]},{"id":"75e51bbd.df03b4","type":"delay","z":"900f51d5.28543","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1870,"wires":[["8d277b79.34ad08"]]},{"id":"bdc1fc80.fb0ab","type":"delay","z":"900f51d5.28543","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":2120,"wires":[["1a117353.421ead"]]},{"id":"2a020a9a.703416","type":"link out","z":"900f51d5.28543","name":"Evier/Grille-pain OUT","links":["153df645.24193a"],"x":725,"y":240,"wires":[]},{"id":"153df645.24193a","type":"link in","z":"900f51d5.28543","name":"Evier/Grille-pain IN","links":["2a020a9a.703416","95ef842.af89178","ca9f16bf.594bc8"],"x":365,"y":1820,"wires":[["16df05a6.2550fa","75e51bbd.df03b4"]]},{"id":"6d994bbe.7ebac4","type":"comment","z":"900f51d5.28543","name":"Evier et Grille-pain","info":"","x":850,"y":240,"wires":[]},{"id":"95ef842.af89178","type":"link out","z":"900f51d5.28543","name":"Evier/Grille-pain OUT","links":["153df645.24193a"],"x":945,"y":1150,"wires":[]},{"id":"67ce0664.2ea068","type":"link out","z":"900f51d5.28543","name":"Armoire OUT","links":["eb0fafe0.83298"],"x":1105,"y":1220,"wires":[]},{"id":"ef3d9c0c.41a71","type":"bigtimer","z":"900f51d5.28543","outtopic":"","outpayload1":"ON","outpayload2":"OFF","name":"6h00-8h30","comment":"","lat":"46.8","lon":"-71.4","starttime":"360","endtime":"510","starttime2":"0","endtime2":"0","startoff":"0","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":170,"y":630,"wires":[["e4d281d6.75da2","838b6911.455698"],[],[]]},{"id":"e4d281d6.75da2","type":"switch","z":"900f51d5.28543","name":"Led ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":580,"wires":[["dad8ff8f.848a7"]]},{"id":"838b6911.455698","type":"switch","z":"900f51d5.28543","name":"Led OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":660,"wires":[["6cba7002.843ad"]]},{"id":"abed8399.bcc42","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":570,"wires":[["e4d281d6.75da2"]]},{"id":"b69ac33e.41e09","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":690,"wires":[["838b6911.455698"]]},{"id":"dad8ff8f.848a7","type":"change","z":"900f51d5.28543","name":"Med","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"Med","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":580,"wires":[["f5f63887.33e208"]]},{"id":"6cba7002.843ad","type":"change","z":"900f51d5.28543","name":"Off","rules":[{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":660,"wires":[["f5f63887.33e208"]]},{"id":"f5f63887.33e208","type":"link out","z":"900f51d5.28543","name":"Armoire OUT","links":["eb0fafe0.83298"],"x":705,"y":660,"wires":[]},{"id":"e8ab52e3.e602a","type":"comment","z":"900f51d5.28543","name":"Armoires","info":"","x":800,"y":660,"wires":[]},{"id":"5526b0ad.c400c","type":"bigtimer","z":"900f51d5.28543","outtopic":"","outpayload1":"ON","outpayload2":"OFF","name":"Sunset","comment":"","lat":"46.8","lon":"-71.4","starttime":"5004","endtime":"5001","starttime2":"0","endtime2":"0","startoff":"-15","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":180,"y":790,"wires":[["db593f7.4d99cc"],[],[]]},{"id":"db593f7.4d99cc","type":"switch","z":"900f51d5.28543","name":"Led ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":760,"wires":[["d8dce723.47c7d8"]]},{"id":"a38ce0cd.be94c","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":740,"wires":[["db593f7.4d99cc"]]},{"id":"d8dce723.47c7d8","type":"change","z":"900f51d5.28543","name":"High","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"High","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":760,"wires":[["f5f63887.33e208"]]},{"id":"6830872e.979138","type":"comment","z":"900f51d5.28543","name":"Evier et Grille-pain","info":"","x":1070,"y":1150,"wires":[]},{"id":"590f6685.8897e8","type":"comment","z":"900f51d5.28543","name":"Armoires","info":"","x":1200,"y":1220,"wires":[]},{"id":"eb0fafe0.83298","type":"link in","z":"900f51d5.28543","name":"Armoire IN","links":["67ce0664.2ea068","f5f63887.33e208","611a49da.5e5aa8"],"x":365,"y":2060,"wires":[["981965d6.3017e8","bdc1fc80.fb0ab"]]},{"id":"f58e556a.515b28","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2270,"wires":[["ca9f16bf.594bc8"]]},{"id":"d6bf2b87.3824e8","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2370,"wires":[["ca9f16bf.594bc8"]]},{"id":"994d5739.3ac958","type":"mqtt in","z":"900f51d5.28543","name":"","topic":"led-evier","qos":"2","broker":"675e8ce1.20f904","x":160,"y":2320,"wires":[["ca9f16bf.594bc8"]]},{"id":"9110f827.63b3b8","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2430,"wires":[["611a49da.5e5aa8"]]},{"id":"9af91022.01498","type":"inject","z":"900f51d5.28543","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2530,"wires":[["611a49da.5e5aa8"]]},{"id":"a117be1.cb16d4","type":"mqtt in","z":"900f51d5.28543","name":"","topic":"led-armoire","qos":"2","broker":"675e8ce1.20f904","x":170,"y":2480,"wires":[["611a49da.5e5aa8"]]},{"id":"9b07df61.e405e","type":"comment","z":"900f51d5.28543","name":"MQTT manual command","info":"","x":210,"y":2230,"wires":[]},{"id":"ca9f16bf.594bc8","type":"link out","z":"900f51d5.28543","name":"Evier/Grille-pain OUT","links":["153df645.24193a"],"x":315,"y":2320,"wires":[]},{"id":"475aa3ef.4c0cfc","type":"comment","z":"900f51d5.28543","name":"Evier et Grille-pain","info":"","x":440,"y":2320,"wires":[]},{"id":"611a49da.5e5aa8","type":"link out","z":"900f51d5.28543","name":"Armoire OUT","links":["eb0fafe0.83298"],"x":315,"y":2480,"wires":[]},{"id":"b1cfa5b.ace9a58","type":"comment","z":"900f51d5.28543","name":"Armoires","info":"","x":410,"y":2480,"wires":[]},{"id":"78de96e9.e5c3d8","type":"change","z":"911a1d93.ff24d","name":"str-To-int","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":810,"wires":[["6bca970b.d88b88"]]},{"id":"c4b4506b.68126","type":"mqtt out","z":"911a1d93.ff24d","name":"","topic":"lampe-salon","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":1200,"y":470,"wires":[]},{"id":"424d43ec.fa344c","type":"function","z":"911a1d93.ff24d","name":"state","func":"\nvar s = msg.payload.state;\n\nvar msg1 = {payload: s};\n\nreturn msg1;","outputs":1,"noerr":0,"x":1040,"y":420,"wires":[["20de9df2.4a94f2"]]},{"id":"20de9df2.4a94f2","type":"change","z":"911a1d93.ff24d","name":"str-To-int","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":420,"wires":[["c4b4506b.68126"]]},{"id":"28a1fc1.9442c04","type":"wemo in","z":"911a1d93.ff24d","name":"Lampe Salon -etat-","topic":"wemo","device":"35a1230f.77f14c","label":"WeMo Switch","x":860,"y":420,"wires":[["424d43ec.fa344c"]]},{"id":"756bebc4.c62fa4","type":"wemo in","z":"911a1d93.ff24d","name":"Lumiere Perron -etat-","topic":"wemo","device":"2621e2a6.ad863e","label":"WeMo Light Switch","x":880,"y":810,"wires":[["2967b8.52488848"]]},{"id":"34c28452.91a1fc","type":"change","z":"911a1d93.ff24d","name":"ON to 1","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":260,"wires":[["6154b6dd.608758"]]},{"id":"a940be2d.312f3","type":"switch","z":"911a1d93.ff24d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":260,"wires":[["34c28452.91a1fc"]]},{"id":"8638bc8d.94f95","type":"mqtt out","z":"900f51d5.28543","name":"","topic":"led-evier-state","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":630,"y":1780,"wires":[]},{"id":"7a34025.10a22fc","type":"mqtt out","z":"900f51d5.28543","name":"","topic":"led-armoired-state","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":640,"y":2020,"wires":[]},{"id":"99e36d64.e8405","type":"mqtt out","z":"900f51d5.28543","name":"","topic":"led-gpain-state","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":810,"y":1890,"wires":[]},{"id":"cd64a0f9.fb7f3","type":"mqtt out","z":"900f51d5.28543","name":"","topic":"led-armoireg-state","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":810,"y":2140,"wires":[]},{"id":"8e5747f8.e93c18","type":"comment","z":"d661d96d.6fc278","name":"sprinkler valve","info":"","x":130,"y":49,"wires":[]},{"id":"a892286b.9c7df8","type":"mytimeout","z":"d661d96d.6fc278","name":"","outtopic":"","outsafe":"on","outwarning":"Warning","outunsafe":"off","warning":"5","timer":"30","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":490,"y":110,"wires":[["62ad660d.b2f0e8","2f62aaf3.8dd286"],["843f12e8.e38a4","e29ce0ec.c0029"]]},{"id":"50b6e65b.29dd88","type":"change","z":"d661d96d.6fc278","name":"To-JSON","rules":[{"t":"set","p":"Off","pt":"msg","to":"{\"payload\": \"off\"}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"On-15m","fromt":"str","to":"{\"payload\": \"on\", \"timeout\": 900, \"warning\": 60}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"On-30m","fromt":"str","to":"{\"payload\": \"on\", \"timeout\": 1800, \"warning\": 60}","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"On-45m","fromt":"str","to":"{\"payload\": \"on\", \"timeout\": 2700, \"warning\": 60}","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"On-60m","fromt":"str","to":"{\"payload\": \"on\", \"timeout\": 3600, \"warning\": 60}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":110,"wires":[["a892286b.9c7df8"]]},{"id":"62ad660d.b2f0e8","type":"switch","z":"d661d96d.6fc278","name":"ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":80,"wires":[["82dab8b9.8cf818"]]},{"id":"2f62aaf3.8dd286","type":"switch","z":"d661d96d.6fc278","name":"OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":120,"wires":[["7e95b463.59d93c"]]},{"id":"843f12e8.e38a4","type":"trigger","z":"d661d96d.6fc278","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"60","extend":false,"units":"s","reset":"0","bytopic":"all","name":"","x":700,"y":170,"wires":[["5d6a07fb.cdcff8"]]},{"id":"27ff19a1.8dbef6","type":"debug","z":"d661d96d.6fc278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1040,"y":170,"wires":[]},{"id":"8ad04fdc.c3932","type":"debug","z":"d661d96d.6fc278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1040,"y":120,"wires":[]},{"id":"562a55f6.b4801c","type":"debug","z":"d661d96d.6fc278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1040,"y":80,"wires":[]},{"id":"89c228fb.daef28","type":"mqtt in","z":"d661d96d.6fc278","name":"","topic":"valve-jardin","qos":"2","broker":"675e8ce1.20f904","x":130,"y":110,"wires":[["50b6e65b.29dd88"]]},{"id":"4dad9a1d.4b5b44","type":"mqtt out","z":"a8f000ca.45291","name":"","topic":"yunboard/input/etat_valve","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":860,"y":270,"wires":[]},{"id":"5af9be66.50108","type":"mqtt out","z":"d661d96d.6fc278","name":"","topic":"valve-jardin/time","qos":"2","retain":"true","broker":"675e8ce1.20f904","x":1050,"y":210,"wires":[]},{"id":"e29ce0ec.c0029","type":"switch","z":"d661d96d.6fc278","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":210,"wires":[["5d6a07fb.cdcff8"]]},{"id":"6dc363cb.9d23dc","type":"inject","z":"d661d96d.6fc278","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":520,"y":220,"wires":[["e29ce0ec.c0029"]]},{"id":"82dab8b9.8cf818","type":"http request","z":"d661d96d.6fc278","name":"Yun DO6-1","method":"GET","ret":"txt","url":"192.168.0.110/arduino/digitaloutput/6/1","tls":"","x":850,"y":80,"wires":[["562a55f6.b4801c"]]},{"id":"7e95b463.59d93c","type":"http request","z":"d661d96d.6fc278","name":"Yun DO6-0","method":"GET","ret":"txt","url":"192.168.0.110/arduino/digitaloutput/6/0","tls":"","x":850,"y":120,"wires":[["8ad04fdc.c3932"]]},{"id":"5d6a07fb.cdcff8","type":"function","z":"d661d96d.6fc278","name":"ToMin","func":"\nvar min = { payload: Math.round(msg.payload/60) };\n \nreturn min;","outputs":1,"noerr":0,"x":870,"y":190,"wires":[["27ff19a1.8dbef6","5af9be66.50108"]]},{"id":"9dc90e2b.cb4f","type":"inject","z":"d661d96d.6fc278","name":"Inject Off at startup","topic":"","payload":"{\"payload\": \"off\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"1","x":280,"y":160,"wires":[["a892286b.9c7df8"]]}]